@font-face {
  font-family: 'Helvetica Neue';
  src: url('./helveticaNeue/helveticaneuelightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./helveticaNeue/helveticaneuelight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./helveticaNeue/helveticaneueultralightitalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./helveticaNeue/helveticaneuecondensedbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./helveticaNeue/helveticaneuemedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./helveticaNeue/helveticaneue.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
