.mg-bt-8px {
    margin-bottom: 8px;
}
.cart {
    position: relative;
    top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
}
.cart a {
    text-decoration: none;
}
.cart-container{
    width: 80%;
    margin-top: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}
.cart-infor--title{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}
.cart-infor-container{
    height: auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
    /* border-bottom: 1px solid #eee; */

    /* align-items: center; */
}
.cart-infor--content-container{
    height: 82%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    white-space: nowrap;
    /* overflow-x: hidden;
    overflow-y: scroll; */
    /* scroll-snap-type: y mandatory; */
}
.cart-infor--content__img{
    width: 120px;
    height: 120px;
}

.cart-infor-left {
    display: flex;
    align-items: center;
    min-width: 250px;
}
.cart-infor--content p {
    margin: 0;
}
.cart-infor--product {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 16px;
    border-bottom: 1px #eee solid;

}
/* .cart-infor--content__name */
.cart-infor--content__nameBox{
    margin-bottom: 10px;
}
.cart-infor--content__title {
    /* margin-bottom: 8px; */
}
.cart-infor--content__option{
    margin-top: 8px;
    font-size: 12px;
}
/* .cart-infor--content__option-color{

}
.cart-infor--content__option-size{

} */
.cart-infor--content__price{
    font-size: 14px;
    font-weight: 600;
}
.cart-infor--content__price-new{

}
.cart-infor--content__price-old{
    margin-left: 10px;
    font-weight: 500;
    text-decoration: line-through;
    color: rgb(132, 130, 130);
}
.cart-infor--content__btn{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 110px;
}
.cart-infor--content__btn-sub,
.cart-infor--content__btn-add{
    border: none;
    width: 30px;
    height: 30px;
    padding: 4px 10px;
    /* font-weight: 600; */
    font-size: 16px;
    cursor: pointer;
    color: #000;
    background-color: #eee;

}
.cart-remove-product {
    border: none;
    background-color: transparent;
    border-bottom: 1px #000 solid;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    padding: 4px;
    color: #000;
}
.cart-infor--content__btn-add{
    border: none;
}
.cart-infor--quanlity-input {
    font-family: 'Montserrat';
    border: none;
    width: 40px;
    height: 30px;
    text-align: center;
    font-weight: 600;
}
.cart-infor--content__total{
    font-weight: 900;
    color: red;
    min-width: 200px;
    text-align: center;
}
/* cart Check out */
.cart-checkout-container{
    height: 80%;
    width: 30%;
    padding: 16px;
    border: 1px #eee solid;
    border-radius: 5px;
    margin-left: 16px;
}
.cart-checkout-title{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px #eee solid;
}
.cart-checkout--total{
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
    padding-bottom: 10px;
    border-bottom: 1px #eee solid;
}
.cart-checkout--total__text{
    font-size: 16px;
    font-weight: 900;

}
.cart-checkout--total__price{
    font-size: 20px;
    color: red;
    font-weight: 900;
}
.cart-checkout--label{
    font-size: 14px;
}
.cart-checkout--note{

}
.cart-checkout--note__title{
    font-weight: 900;
    margin-bottom: 10px;

}
.cart-checkout--note__text{
    width: 98.5%;
    margin-right: 4px;
    border: 1px #eee solid;
    margin-bottom: 16px;
}
.cart-checkout--footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-checkout-buy-btn{

}
.cart-checkout-buy-btn{
    width: 100%;
    height: 50px;
    background-color: #53c66e;
    border: none;
    font-family: 'Montserrat';
    color: #ffff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-checkout-buy-btn:hover {
    color: #ccc;
    cursor: pointer;
}
.cart-checkout-buy-back{
    height: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background-color: #161a21;
    width: 100%;
    border: 1px #161a21 solid;
    font-weight: 700;
}
.cart-checkout-buy-back:hover{
    cursor: pointer;
    color: #ccc;
    /* color: #161a21;
    background-color: #fff; */
}
.cart-checkout-buy-icon {
    font-size: medium;
    padding: 8px;
    /* font-weight: 700; */
}
.reset-cart-btn {
    font-size: 14px;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #161a21;
    cursor: pointer;
}
.reset-cart-btn:hover {
    color: red;
}
.mg-b-10{
    margin-bottom: 10px;
}