
.main {
    width: 100%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    position: relative;
    top: 80px;
    color: var(--text-color);
}
.infor-container {
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    font-family: 'Montserrat';
    background-color: #f8f8f8;
    /* padding: 32px; */
    padding: 5% 0;
}
.infor-tab {
    padding: 8px;
    margin-right: 16px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 16px;
}
.infor-tab--header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: #e5e5e5 1px solid;
    padding-right: 8px;
}

.infor-tab--header__acc-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: blue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin: 8px;
}
.infor-tab--header__user {
    /* height: 100%; */
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}
.infor-tab--header__user p {
    margin: 0;
    padding-left: 4px;
}
.infor-tab--header__name {
    font-weight: 600;
    padding-bottom: 4px;
    font-size: 16px;
}
.infor-tab--header__email {
    font-size: 12px;
}
.infor-tab-content {
    padding: 16px 0;
}
.infor-tab-content__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}

.infor-tab-content__list a {
    text-decoration: none;
    color: #161a21;
}
.infor-tab-content__item {
    padding: 10px 16px;
    /* font-weight: 600; */
    border-bottom: #f8f8f8 1px solid;
}
.infor-tab-content__item:hover{
    font-weight: 600;
    cursor: pointer;
}
.infor-icon {
    padding-right: 4px;
}
.item-center {
    display: flex;
    align-items: center;
}
.infor-content {
    width: 80%;
    padding-left: 32px;
    background-color: #fff;
    border-radius: 5px;
    padding: 16px 16px 30px 24px;
}

.infor-content--header {
    margin-top: 4px;
    font-size: 24px;
    padding: 12px 0 24px 0;
}

.infor-content-infor {
    width: 100%;
}
.row-infor {
    width: 100%;
   
}
.wd-30 {
    width: 30%;
}
.wd-70 {
    width: 70%;
}
.col-infor {
    padding: 8px;
    font-size: 16px;
    max-width: 400px;
}

.row-btn {
    display: flex;
    justify-content: space-around;
}

.infor-user-btn {
    width: fit-content;
    padding: 8px 16px;
    background-color: #161a21;
    color: #fff;
    font-family: 'Montserrat';
    border-radius: 3px;
    /* text-transform: uppercase; */
    font-weight: 600;
}
.infor-user-btn:hover {
    cursor: pointer;
    color: #ccc;
}
.infor-active {
    font-weight: 600;
}

.logout-btn:hover {
    color: red;
}

/* History */
.btn_details_order {
    width: 30%;
    padding: 4px 6px;
    font-size: 14px;
    text-decoration: none;
    background-color: #161a21;
    color: #fff;

}
.col-item-center {
    text-align: center;
}