.btn{
    font-size:14px;
}
.blue_bg{
    background-color: rgb(0, 153, 255);
}
.yellow_bg{
    background-color: #f9b116;
}
.red_bg{
    background-color: #e55352;
}
.light_blue_bg{
    background-color: rgb(0, 51, 204);
}